<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Bloggers</title>

  <!-- views/index.ejs -->

<body class="index-body">
  <%- include('./partials/_navbar.ejs') %>
  <div class="index-container">
    <div class="text-container">
      <h1 class="main-header">Bloggers</h1>
      <p class="subheader">A place to share your thoughts.</p>
    </div>
    <div class="auth-links">
      <a class="signup-link" href="/auth/sign-up">Sign Up</a>
      <a class="signin-link" href="/auth/sign-in">Sign In</a>
    </div>
  </div>
</body>

</head>
<body>
  <% if (user) { %>
    <h1>Welcome to the app, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
  <% } %>
  <p><a href="/vip-lounge"></a></p>
</body>
</html>
